<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.73340757487-fkqho0iiioq1scngn8p3i081b3e3jdr6</string>
			</array>
		</dict>
	</array>
	<key>NSLocationAlwaysUsageDescription
NSLocationAlwaysUsageDescription</key>
	<string>Permite que la app acceda a tu ubicación incluso cuando no la estés usando</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>whitedog</string>
	</dict>
	<key>GIDClientID</key>
	<string>73340757487-fkqho0iiioq1scngn8p3i081b3e3jdr6.apps.googleusercontent.com</string>
</dict>
</plist>
